body {
    margin: 0;
    font-family: Arial;

}

/* SIDEBAR */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
    background: #0f1f36;
    padding-top: 20px;
}

.sidebar h4 {
    color: white;
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    color: #cbd5e1;
    text-decoration: none;
    margin-bottom: 15px;
}

.sidebar a:hover {
    color: white;
}


/* NAVBAR */

.navbar {
    position: sticky;
    top: 0;
    margin-left: 220px;
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 1000;
    background: #fff;
    z-index: 1000;
    padding-right: 30px;
}

.navbar .btn-danger {
    padding: 6px 14px;
    border-radius: 8px;
    font-weight: 500;
}

/* CONTENT */

.content {
    margin-left: 220px;
    padding: 25px;
}

.content-body {
    max-height: 550px;
    overflow-y: auto;
}

/* DASHBOARD CARD */

.dashboard-card {
    transition: 0.2s;
    cursor: pointer;
}

.dashboard-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}


/* TABLE SCROLL */

.table-scroll {
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    border: 1px solid #ddd;
}

/* header tabel tetap */

.table-scroll thead th {
    position: sticky;
    top: 0;
    background: #212529;
    color: white;
}